@import "../../app.component.scss";




.shopping-button {
  background-color: $primary-color;
}

.color {
  border-bottom: 2px solid $primary-color;
  color: $primary-color;
}

.language-buttons {
  .btn-language {
    width: 40px;
    height: 30px;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(206, 186, 4, 0.5);
    }
  }

  .btn-language-en {
    background-image: url('/assets/english-flag.webp');
  }

  .btn-language-es {
    background-image: url('/assets/spanish-flag.webp');
  }
}
