<div class="container-fluid py-4" *ngIf="player">
  <div class="row mb-4">
    <div class="col-12 text-center">
      <h2 class="fade-in">{{ player.name }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 order-md-2">
      <div class="img-container">
        <img
          [src]="player.image"
          alt="{{ player.name }}"
          class="img-fluid rounded zoom-in"
        />
      </div>
    </div>
    <div class="col-md-8 order-md-1">
      <div class="row">
        <div class="col-6">
          <div class="card mb-2 slide-in-left">
            <div class="card-body">
              <h5 class="card-title">{{ "PLACE_OF_BIRTH" | translate }}</h5>
              <p class="card-text">{{ player.placeOfBirth }}</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card mb-2 slide-in-right">
            <div class="card-body">
              <h5 class="card-title">{{ "DATE_OF_BIRTH" | translate }}</h5>
              <p class="card-text">{{ player.dateOfBirth | date }}</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card mb-2 slide-in-left">
            <div class="card-body">
              <h5 class="card-title">{{ "WEIGHT" | translate }}</h5>
              <p class="card-text">{{ player.weight }} kg</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card mb-2 slide-in-right">
            <div class="card-body">
              <h5 class="card-title">{{ "HEIGHT" | translate }}</h5>
              <p class="card-text">{{ player.height }} cm</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card mb-2 slide-in-left">
            <div class="card-body">
              <h5 class="card-title">{{ "GAMES" | translate }}</h5>
              <p class="card-text">{{ player.stats.games }}</p>
            </div>
          </div>
        </div>
        <div class="col-6" *ngIf="player.stats.cleanSheets">
          <div class="card mb-2 slide-in-right">
            <div class="card-body">
              <h5 class="card-title">{{ "CLEAN_SHEETS" | translate }}</h5>
              <p class="card-text">{{ player.stats.cleanSheets }}</p>
            </div>
          </div>
        </div>
        <div class="col-6" *ngIf="player.stats.saves">
          <div class="card mb-2 slide-in-left">
            <div class="card-body">
              <h5 class="card-title">{{ "SAVES" | translate }}</h5>
              <p class="card-text">{{ player.stats.saves }}</p>
            </div>
          </div>
        </div>
        <div class="col-6" *ngIf="player.stats.goals">
          <div class="card mb-2 slide-in-right">
            <div class="card-body">
              <h5 class="card-title">{{ "GOALS" | translate }}</h5>
              <p class="card-text">{{ player.stats.goals }}</p>
            </div>
          </div>
        </div>
        <div class="col-6" *ngIf="player.stats.assists">
          <div class="card mb-2 slide-in-left">
            <div class="card-body">
              <h5 class="card-title">{{ "ASSISTS" | translate }}</h5>
              <p class="card-text">{{ player.stats.assists }}</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-2 fade-in">
            <div class="card-body">
              <h5 class="card-title">{{ "SEASONS" | translate }}</h5>
              <div *ngFor="let season of player.stats.seasons">
                <p class="card-text">{{ season.start }}/{{ season.end }}</p>
                <p class="card-text">
                  {{ "GAMES" | translate }}: {{ season.games }}
                </p>
                <p class="card-text" *ngIf="season.cleanSheets">
                  {{ "CLEAN_SHEETS" | translate }}: {{ season.cleanSheets }}
                </p>
                <p class="card-text" *ngIf="season.saves">
                  {{ "SAVES" | translate }}: {{ season.saves }}
                </p>
                <p class="card-text" *ngIf="season.goals">
                  {{ "GOALS" | translate }}: {{ season.goals }}
                </p>
                <p class="card-text" *ngIf="season.assists">
                  {{ "ASSISTS" | translate }}: {{ season.assists }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-2 fade-in">
            <div class="card-body">
              <h5 class="card-title">{{ "HONORS" | translate }}</h5>
              <p class="card-text">
                {{ "LA_LIGA" | translate }}: {{ player.honors.laLiga }}
              </p>
              <p class="card-text">
                {{ "CHAMPIONS_LEAGUE" | translate }}:
                {{ player.honors.championsLeague }}
              </p>
              <p class="card-text">
                {{ "COPA_DEL_REY" | translate }}: {{ player.honors.copaDelRey }}
              </p>
              <p class="card-text">
                {{ "CLUB_WORLD_CUP" | translate }}:
                {{ player.honors.clubWorldCup }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="card fade-in">
        <div class="card-body">
          <h5 class="card-title">{{ "BIOGRAPHY" | translate }}</h5>
          <p class="card-text">{{ translatedBiography }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
