@import "../../app.component.scss";


.container-fluid {
  background: rgb(24, 23, 51);
  background: linear-gradient(
    90deg,
    rgba(24, 23, 51, 1) 0%,
    rgba(22, 47, 96, 1) 100%
  );
  .card {
    background-color: #f8f9fa;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  h2 {
    color: $primary-color;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .card-title {
    font-weight: bold;
    color: #333;
  }

  .card-text {
    font-size: 14px;
    color: #666;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: normal;
  }
}
