@import "../../app.component.scss";
@import "../../../assets/styles/_mixins";
@import "../../../assets/styles/_placeholders";

h1 {
  color: $primary-color;
  font-size: 56px;
}

h5 {
  color: $primary-color;
}

.player-card {
  border: none;
  @extend %card-transition;
  overflow: hidden;
  position: relative;
  @extend %card-border-radius;
}

.player-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card-img-wrapper {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-img-wrapper img {
  width: 100%;
  height: auto;
  @include transition(transform 0.3s ease-in-out);
}

.player-card:hover .card-img-wrapper img {
  transform: scale(1.1);
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  @include transition(opacity 0.3s ease-in-out);
  @include flex-center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.player-card:hover .card-overlay {
  opacity: 1;
}

.overlay-content {
  color: #fff;
  text-align: center;
}

.card-body {
  padding: 20px;
  background-color: #f8f9fa;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-title {
  margin-bottom: 15px;
  font-size: 1.25rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  @include transition(
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out
  );
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
