$primary-color: #fdc52c;
$background-color: #181733;
$facebook-color: #1877f2;
$twitter-color: #000000;
$instagram-color: #e1306c;

.gradient-bg {
  background: rgb(199, 20, 48);
  background: linear-gradient(
    90deg,
    rgba(199, 20, 48, 1) 35%,
    rgba(35, 62, 125, 1) 100%
  );
}
.logo-img {
  width: 70px;
  height: 70px;
}
/* font-size: 30px;
        font-weight: bold;
        color: yellow; */

.logo-text {
  font-size: 30px;
  font-weight: bold;
  //color: $primary-color;
}
