.container-fluid {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.error-container {
  text-align: center;
  color: #343a40;
}

.error-code {
  font-size: 96px;
  font-weight: bold;
  color: #dc3545;
}

.error-message {
  font-size: 24px;
  margin: 20px 0;
}

.error-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn-home {
  padding: 10px 20px;
  font-size: 18px;
}
