@import "../../../assets/styles/_mixins";
@import "../../../assets/styles/_placeholders";

.container-fluid {
  @extend %container;
  @include flex-center;
  background-color: #f8f9fa;
}

.error-container {
  @extend %text-center;
}

.error-code {
  @include font-size(96px);
  font-weight: bold;
  color: #dc3545;
}

.error-message {
  @include font-size(24px);
  margin: 20px 0;
}

.error-description {
  @include font-size(18px);
  margin-bottom: 20px;
}

.btn-home {
  padding: 10px 20px;
  @include font-size(18px);
}
