@import "../../app.component.scss";



/* fa-facebook fa-x-twitter  fa-instagram*/

.fa-facebook {
  font-size: 30px;
  color: #1877f2;
}
.fa-x-twitter {
  font-size: 30px;
  color: #000000;
}

.fa-instagram {
  font-size: 30px;
  color: #e1306c;
}
